#canvas {
    border: 1px solid;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    height: 1px;
    flex: 1 1 auto;
    display: flex;    
}

.square {
    width: 1px;
    flex: 1 1 auto;
}