body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#container {
    width: 500px;
    height: 500px;
    border: solid;
    display: flex;
    flex-direction: column;
}

.line {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
}

.square-on {
    background-color: black;
}